/* Estilos da pagina index.html */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(50deg, #98ADDA, #ba64e698, #FCD2D3);
    background-size: 300% 300%;
    animation: colors 10s infinite;
    overflow-x: hidden;
    height: 100vh;
    /* viewheigh - ocupa 100% da altura do meu dispositivo   */
}

@keyframes colors {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.tituloprincipal {
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-family: 'Pattaya', sans-serif;
    text-shadow: 2px 2px 5px #AA2EE6;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudos {
    display: flex;
    flex-flow: row;
    justify-content: center;/*alinhamento (esquerda,direito,centro)*/
    align-items: center; /*alinhamento dos itens (esquerda,direito,centro)*/
}

#menu {

    background-color: #ffffff;
    height: 30px;
    width: 100%;
    top: 0;
}

#menu li {
    display: inline;/* para o menu ficar em uma linha só*/
    padding: 15px; /*espaçamento dentro do elemento*/
}

#menu li a {
    text-decoration: none;
    color: #0d0d99;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

#menu li a:hover {
    color: #f104f1e0;
}

.p-30 {
    padding: 30px;
}

.img {
    border-radius: 50%;
    padding: 50px;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin: 50px;
    text-shadow: 2px 2px 5px #AA2EE6;
    font-family: 'Pattaya', sans-serif;

}

.tm-social {
    width: 50px;
    height: 50px;
    padding: 30px;
}

.mb-50 {
    margin-bottom: 50px;

}


/* Estilos da pagina contato.html */

.geral {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-family: 'Anton', sans-serif;
}

.endereco {
    font-family: 'Anton', sans-serif;
}

.botao  {
    padding: 10px;
    border-radius: 15px;
    background-color: #AA2EE6;
    color: #ffffff;
}

.botao:hover{
    background-color: #FCD2D3;
    color:black;
}
/* Estilos da pagina interesses.html */
.imagemcomlegenda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Anton', sans-serif;
    justify-content: space-around;
}

.imagemcomlegenda img {
    width: 350px;
    height: 350px;
    border-radius: 80px;
    
}

.borda {
    border: 1px solid red;
}

.itens {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}